<div class="header-container">
    <div class="left">
        <h1>ToDo APP Advanced</h1>
        <p>
            Todo App'e hoşgeldiniz, bu uygulamada planlarınızı yapabilir, listeleyebilir ve takip edebilirsiniz. 
            Lütfen hiçbir alanı boş bırakmayınız!
        </p>
    </div>
    <div class="right">
        <button (click)="themeToggle()">
            @if (isDark){
                ☀
            } @else {
                🌙
            }
        </button>

        <button (click)="logout()">
            Çıkış
        </button>
    </div>
</div>